body{
    background-color: #333333;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.middle{
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

.middleul{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #292929;
}

.middleimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.headerul{
    background-color: #292929;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.headerimg {
    filter: invert(99%) sepia(4%) saturate(344%) hue-rotate(259deg) brightness(120%) contrast(92%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.btn {
    background-color: #292929;
    outline-color: #000000;
    padding: 20px;
}

figure {
    width: 100px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
}

li {
    float: left;
    padding: 10px;
}

li figure {
    display: block;
    color: whitesmoke;
    text-align: center;
    
}

.nav{
    padding: 20px;
}

.navcontainer{
    padding: 5px;
    background-color: #292929;
}

a:hover{
    padding: 20px;
    background-color: rgb(108, 108, 255);
}

.active {
    padding: 20px;
    background-color: rgb(108, 108, 255);
}

.vid{
    padding: 10px;
} 
